.tenses {
    padding: 0.5em;
    border-bottom: solid 1px lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tenses-nm {
    width: 40%;
    color: black;
}
.tenses-nm:hover {
    color: #f2a86f;
}
.tenses-gr {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}
.tenses-ex {
    color: black;
}
.tenses-tr {
    color: grey;
}
/*-------------------------------------------------------------*/
#useful-phrases .phrase {
    display: flex;
    flex-direction: row;
}
#useful-phrases .translate {
    padding-left: 0.5em;
    color: gray;
}
.section input {
    background-color: rgb(253,217,141);
    padding: 0.5em;
    width: 50%;
    margin-bottom: 1em;
    border-radius: 0.5vh;
    border: 0;
}
.section  input:focus {
    outline: none;
}
/*-------------------------------------------------------------*/
.languages .section {
    padding-bottom: 0;
}
.languages .section h2 {
    margin-bottom: 0;  
    font-size: 1em;
}
.languages .section h2 a {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.languages .section a:hover {
    color: #f2a86f;
}
.languages .section img {
    height: 1.5em;
    width: 2.5em;
    margin-right: 0.5em;
}
/*-------------------------------------------------------------*/
.gr {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/