/*@font-face {
    font-family: 'Ubuntu';
    src: url('../files/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Apple';
    src: url('../files/fonts/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'Apple-bold';
    src: url('../files/fonts/SFUIText-Bold.otf');
}
@font-face {
    font-family: 'Apple-heavy';
    src: url('../files/fonts/SFUIText-Heavy.otf');
}
@font-face {
    font-family: 'Apple-semi-bold';
    src: url('../files/fonts/SFUIText-Semibold.otf');
}
@font-face {
    font-family: 'Apple-light';
    src: url('../files/fonts/SFUIText-Light.otf');
}*/

.tenses {
    padding: 0.5em;
    border-bottom: solid 1px lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tenses-nm {
    width: 40%;
    color: black;
}
.tenses-nm:hover {
    color: #f2a86f;
}
.tenses-gr {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}
.tenses-ex {
    color: black;
}
.tenses-tr {
    color: grey;
}
/*-------------------------------------------------------------*/
#useful-phrases .phrase {
    display: flex;
    flex-direction: row;
}
#useful-phrases .translate {
    padding-left: 0.5em;
    color: gray;
}
.section input {
    background-color: rgb(253,217,141);
    padding: 0.5em;
    width: 50%;
    margin-bottom: 1em;
    border-radius: 0.5vh;
    border: 0;
    font-size: 1em;
}
.section  input:focus {
    outline: none;
}
/*-------------------------------------------------------------*/
.languages .section {
    padding-bottom: 0;
}
.languages .section h2 {
    margin-bottom: 0;  
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.languages .section h2 a {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}
.languages .section a:hover {
    color: #f2a86f;
}
.languages .section img {
    height: 1.5em;
    width: 2.5em;
    margin-right: 0.5em;
}
/*-------------------------------------------------------------*/
.gr {
    color: green;
    font-family: 'Apple-semi-bold';
}
.red {
    color: red;
    font-family: 'Apple-semi-bold';
}
.blue {
    color: blue;
    font-family: 'Apple-semi-bold';
}
/*-------------------------------------------------------------*/
.tense {

}
.tense .title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tense .title h3 {
    font-size: 2em;
    font-weight: normal;
    font-family: 'Apple-bold';
}
.tense .title p {
    margin-top: 0.25em;
}
.tense .title {

}

.tense .build {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tense .build h4 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Apple-bold';
}
.tense .build .struct {
    font-family: 'Apple-semi-bold';
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
.tense .build .example {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tense .build .example .desc {
    width: 35%;
}
.tense .build .example .sample {
    width: 65%;
}

.tense .use {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.tense .use h4 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Apple-bold';
}
.tense .use .ex-use {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}
.tense .use .ex-use .desc {
    
}
.tense .use .ex-use .example {
    padding-left: 0.5em;
}
.tense .use .ex-use .example .sample {
    margin-top: 0.5em;
}
.tense .use .ex-use .example .translate {
    color: gray;
}
/*-------------------------------------------------------------*/
.phrasal-verb {
    
}
.cont-phrasal-verb {
    display: flex;
    flex-direction: row;
}
.phrasal-verb .pv {

} 
.phrasal-verb .pause {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.phrasal-verb .tr {
    color: gray;
}
.phrasal-verb .example {
    color: lightgray;
}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/