:root {
    --main-color: rgb(253,217,141);
    --second-color: #333;
    --bg-color: rgb(253,217,141);
    --font-color: black;
    --font-2nd-color: #f2a86f;
}
/*-------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------------*/
@font-face {
    font-family: 'Ubuntu';
    src: url('../files/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Apple';
    src: url('../files/fonts/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'Apple-bold';
    src: url('../files/fonts/SFUIText-Bold.otf');
}
@font-face {
    font-family: 'Apple-heavy';
    src: url('../files/fonts/SFUIText-Heavy.otf');
}
@font-face {
    font-family: 'Apple-semi-bold';
    src: url('../files/fonts/SFUIText-Semibold.otf');
}
@font-face {
    font-family: 'Apple-light';
    src: url('../files/fonts/SFUIText-Light.otf');
}
/*-------------------------------------------------------------*/
.apple {
    font-family: 'Apple';
}
.apple-bold {
    font-family: 'Apple-bold';
}
.apple-heavy {
    font-family: 'Apple-heavy';
}
.apple-semi-bold {
    font-family: 'Apple-semi-bold';
}
.apple-light {
    font-family: 'Apple-light';
}
/*-------------------------------------------------------------*/
body {
    font-family: 'Apple';
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Apple';
}
/*-------------------------------------------------------------*/
header {
    background-color: rgb(253,217,141);
    padding: 1em;
    text-align: center;
}
h1 {
    font-weight: normal;
    font-family: 'apple-semi-bold';
}
h2 {
    font-weight: normal;
    font-family: 'apple-semi-bold';
}
/*-------------------------------------------------------------*/
#main-content {
    max-width: 700px;
    margin-left: 5%;
    margin-right: 5%;
}
/*-------------------------------------------------------------*/
.section {
    padding: 0.5em;
}
.section h2 {
    margin-bottom: 0.5em;
    background-color: rgb(253,217,141);
    padding: 0.5em;
    border-radius: 1vh;
}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
#menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 4.4em;
    height: 4.4em;
}
#menu img {
    background-color: black;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    margin-top: 0.4em;
}
#menu-list {
    position: absolute;
    top: 4.4em;
    background-color: rgb(253,217,141);
    right: 0;
    border-bottom: solid 1px gray;
    display: flex;
    flex-direction: column;
}
#menu-list a {
    padding: 0.5em;
}
#menu-list a:hover {
    color: #f2a86f;
}
/*-------------------------------------------------------------*/
#on-content-menu {
    padding: 0.5em;
}
#on-content-menu nav {
    padding: 1em;
    border-radius: 1vh;
    background-color: rgb(253,217,141);
    margin-top: 0.5em;
}
#on-content-menu a {
    color: black;
    font-weight: bold;
    padding: 0.5em;
}
#on-content-menu a:hover {
    color: #f2a86f;
}
#on-content-menu div {
    margin-top: 1em;
}
/*-------------------------------------------------------------*/
footer {
    text-align: center;
    padding: 0.5em;
    background-color: rgb(253,217,141);
    font-weight: normal;
    font-family: 'apple-semi-bold';
}
/*-------------------------------------------------------------*/
::selection {
    background-color: rgb(253,217,141);
}
/*-------------------------------------------------------------*/
.price {
    font-weight: bold;
    background-color: rgb(253,217,141);
    border-radius: 1vh;
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.bold {
    /*font-weight: bold;*/
    font-family: 'apple-semi-bold';
}
/*-------------------------------------------------------------*/
#updates {
    padding: 0.5em;
    font-weight: normal;
    font-family: 'apple-semi-bold';
}
#updates .update .vr-dt {
    background-color: var(--main-color);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
}
#updates .vr {
    width: 50%;
}
#updates .dt {
    width: 50%;
    text-align: right;
}
#updates .desc {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
@media screen and (min-width: 200px) {
    #tensesmenu {
        visibility: hidden;
    }
    #mobile-widgets {
        visibility: visible;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        background-color: var(--main-color);
        color: var(--second-color);
    }
    #mobile-widgets a {
        padding: 0.5em;
        background-color: var(--main-color);
        text-decoration: none;
        color: var(--second-color);
        font-weight: bold;
    }

}
@media screen and (min-width: 1050px) {
    #tensesmenu {
        visibility: visible;
    }
    #mobile-widgets {
        visibility: hidden;
    }
}
/*-------------------------------------------------------------*/